.chat {
    background-color: #0A1422;
    display: flex;
    flex-grow: 1;
    flex-direction: column-reverse;
    width: 100%;
    border-radius: 12px;
    height: 0;
    overflow-y: scroll;

    .chat-view {
        margin-top: 15px;
        margin-bottom: 20px;
        row-gap: 10px;
        display: flex;
        flex-direction: column;
    }
}

::-webkit-scrollbar {
    width: 0;
}