.profile-view {
    background-color: #0D1827;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    width: 100%;
    height: 0;
    overflow-y: scroll;
    border-radius: 10px;
    align-items: center;


    .avatar-container {
        display: flex;
        align-items: center;
        flex-direction: column;
        height: fit-con tent;
        width: fit-content;

        margin-top: 35px;
        margin-bottom: 20px;

        .avatar-current {
            margin-bottom: 25px;

            img {
                width: 150px;
                height: 150px;
                border-radius: 100vh;
                background-color: rgba(0, 0, 0, 0.2);
            }
        }

        .avatar-selector {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
            column-gap: 13px;
            row-gap: 12px;

            img {
                // width: 35px;
                height: 35px;
                border-radius: .5vh;
                background-color: rgba(0, 0, 0, 0.2);
                cursor: pointer;
            }

            .avatar.active {
                outline: 1px solid #71aaff7e;
            }
        }
    }


    .cred-container {
        display: flex;
        flex-direction: column;

        div {
            display: inherit;
            flex-direction: inherit;
            position: relative;

            span {
                color: #a7caffd5;
                font-size: .8rem;
                letter-spacing: 1.5px;
                font-weight: 400;
                margin-bottom: 5px;
                margin-left: 3px;
            }

            input {
                background-color: #1C3150;
                color: #A6CAFF;
                width: 280px;
                height: 35px;
                box-sizing: border-box;
                outline: none;
                border: none;
                padding: 0 12px;
                letter-spacing: 1px;
                font-weight: 500;
                border-radius: 4px;
                margin-bottom: 10px;
            }

            img {
                width: 15px;
                position: absolute;
                right: 0;
                margin-top: 30px;
                margin-right: 10px;
                cursor: pointer;
            }
        }

    }





    .btns-container {
        width: 280px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        row-gap: 12px;
        column-gap: 12px;

        margin-top: 10px;

        button {
            outline: none;
            border: none;
            height: 30px;
            border-radius: 3px;
            font-size: .75rem;
            font-weight: 150;
            letter-spacing: .5px;
            color: white;
        }


        #save-btn {
            background-color: #223B60;
        }
        
        #cancel-btn {
            background-color: #1E2B3F;
        }
        
        #signout-btn {
            background-color: #683333;
            grid-column: 1 / span 2;
        }
    }

}

